/*
    Created on : Nov 25, 2016
    Author     : Spinn
*/

.details-full-width span {
    margin: 0;
    padding: 0;
}

.phone-number-icon {
    position: relative;
    top: 2px;
}

.title-about-programm-header,
.title-about-programm-footer {
    font-size: 72px
}

.footer-1-light a {
    font-size: 30px
}

.team-member li i {
    font-size: 30px
}

.phone-number-link {
    display: block;
    font-size: 72px;
    color: #565656;
}

@media (max-width: 767px) {
    .team-member {
        float: none;
        margin: 0 auto;
        width: 78%;
    }
    
    .home-intro-half-try {
        text-align: center;
    }
    
    .title-about-programm-header {
        font-size: 72px;
    }
}

@media ( max-width: 500px ) {
    .title-about-programm-header {
        font-size: 48px;
    }
    
    .team-member {
        width: 78%;
    }
    
    .phone-number-link {
        font-size: 48px
}
    
}